@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 300);

body {
  padding-top: 70px;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.8 !important;
  background-color: lightgrey;
}
.kk {
  padding: 4px;
  width: 70px;
  height: 70px;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 200;
  color: #222;
  font-size: 50px;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

section {
  padding-top: 0px;
  padding-bottom: 150px;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

a,
a:link {
  color: #222;
}

a:hover,
a:focus {
  color: #222;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: blue;
  width: 200px;
  margin-left: 1150px;
  margin-right: 500px;
  margin-top: -10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: pink;
}

/* Navbar */

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}
@media only screen and (min-width: 491px) {
  .navbar-brand img {
    max-height: 100px;
    margin-left: 25em;
    width: 200px;
  }
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

@media (min-width: 768px) {
  body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }

  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}

.navbar-default {
  background-color: black;
  border-color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #fff;
  color: #222;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #555;
}

/* Toggle Animation */

.navbar-toggle * {
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-toggle {
  border: medium none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  height: 50px;
  padding: 16px;
  width: 50px;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fff;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #222;
  display: block;
}
.navbar-toggle span.bar1 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 1px 3px;
  -webkit-transform-origin: 1px 3px;
  -moz-transform-origin: 1px 3px;
  -o-transform-origin: 1px 3px;
  transform-origin: 1px 3px;
  width: 31px;
}
.navbar-toggle span.bar2 {
  -ms-transform: rotate(-360deg) scale(0);
  -webkit-transform: rotate(-360deg) scale(0);
  -moz-transform: rotate(-360deg) scale(0);
  -o-transform: rotate(-360deg) scale(0);
  transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 8px 2px;
  -webkit-transform-origin: 8px 2px;
  transform-origin: 8px 2px;
  width: 31px;
}
.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  width: 30px;
}

/* Intro */
.intro {
  font-size: 22px;
  padding-top: 60px;
  padding-bottom: 25px;
}

/* About */

.big-letter p:first-child:first-letter {
  float: left;
  color: #222;
  font-size: 8em;
  line-height: 0.8em;
  text-transform: uppercase;
  padding-top: 0px;
  padding-right: 0.1em;
  padding-left: –0.03em;
}

/* Firefox Fix */

@-moz-document url-prefix() {
  .big-letter p:first-child:first-letter {
    padding-top: 0.08em;
  }
}

/* Carousel */

.carousel-control.left {
  background-image: none;
  filter: none;
}
.carousel-control.right {
  background-image: none;
  filter: none;
}

/* Hover Effect */
.hovereffect a:link,
.hovereffect a:hover,
.hovereffect a:focus,
.hovereffect a:visited {
  color: #fff;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  background: black;
  cursor: pointer;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  cursor: pointer;
}

.hovereffect a,
.hovereffect p,
.hovereffect h2 {
  color: #fff;
  text-decoration: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-decoration: none;
  opacity: 5;
  letter-spacing: 1px;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-size: 100px;
}

@media (max-width: 992px) {
  .hovereffect {
    margin-bottom: 25px;
  }
}

.hovereffect img {
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect .photo-1,
.hovereffect .photo-2,
.hovereffect .photo-3,
.hovereffect .photo-4,
.hovereffect .photo-5,
.hovereffect .photo-6 {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover .photo-1,
.hovereffect:hover .photo-2,
.hovereffect:hover .photo-3,
.hovereffect:hover .photo-4,
.hovereffect:hover .photo-5,
.hovereffect:hover .photo-6,
.hovereffect:hover .photo-7,
.hovereffect:hover .photo-8,
.hovereffect:hover .photo-9,
.hovereffect:hover .photo-10,
.hovereffect:hover .photo-11,
.hovereffect:hover .photo-12,
.hovereffect:hover .photo-13,
.hovereffect:hover .photo-14 {
  opacity: 0.3;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5,
.photo-6,
.photo-7,
.photo-8,
.photo-9,
.photo-10,
.photo-11,
.photo-12,
.photo-13,
.photo-14 {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}

/* Thumbnail Images*/

.photo-1 {
  background-image: url("../images/6.jpg");
}
.photo-2 {
  background-image: url("../images/2.jpg");
}
.photo-3 {
  background-image: url("../images/3.jpg");
}
.photo-4 {
  background-image: url("../images/4.jpg");
}
.photo-5 {
  background-image: url("../img/5.jpg");
}
.photo-6 {
  background-image: url("../img/6.jpg");
}
.photo-7 {
  background-image: url("../img/7.jpg");
}
.photo-8 {
  background-image: url("../img/8.jpg");
}
.photo-9 {
  background-image: url("../img/9.jpg");
}
.photo-10 {
  background-image: url("../img/10.jpg");
}
.photo-11 {
  background-image: url("../img/11.jpg");
}
.photo-12 {
  background-image: url("../img/12.jpg");
}
.photo-13 {
  background-image: url("../img/13.jpg");
}
.photo-14 {
  background-image: url("../img/14.jpg");
}

/* Modal Box */

.modal-dialog {
  margin: 0px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.modal-body {
  padding: 0px;
}

.modal-content {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

/* Carousel Control*/

.close {
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
  opacity: 1;
  position: fixed;
  right: 30px;
  text-shadow: none;
  top: 10px;
  z-index: 2147483647;
}

.close:hover,
.close:focus {
  color: #f7f7f7;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 100vh;
}

.carousel-control {
  text-shadow: none;
  width: 9%;
}

.modal-open .modal {
  top: 0;
  position: fixed !important;
}

/* Thumbnail */

.thumbnail {
  background-color: transparent;

  border-radius: 0px;
  display: block;
  line-height: 1.42857;
  margin-bottom: 0px;

  transition: border 0.2s ease-in-out 0s;
}

.thumbnail {
  padding: 0px 100px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height: 100px;
  max-width: none;
  width: 100px;
  object-fit: contain;
}

/* Press */

.press p {
  line-height: 1.7em;
}

.press a:link {
  text-decoration: underline;
}

.press h4 {
  padding-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

Footer
/* Brand */

.logo-list img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.logo-list li {
  padding-bottom: 1%;
}

.logo-list li a:hover,
.logo-list li a:focus {
  opacity: 0.6;
  transition: opacity 0.2s ease;
  display: block;
}

/* Footer */

footer {
  padding-bottom: 85px;

  width: 100%;
  object-fit: cover;
  height: 150px;
}
footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 0.7em;
  text-transform: uppercase;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/arrow-up.png) no-repeat center 50%;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}
.no-touch .cd-top:hover {
  background-color: transparent;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.ivan {
  width: 300px;

  height: 15px;
}

.row {
  width: 120%;
  object-fit: cover;
  height: 150px;
  border: 50px;
  border-color: black;
}

Create two equal columns that sits next to each other .column {
  padding: 2000px;
}
@media screen and (min-width: 500px) {
  .column img {
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 100px;
    width: 700px;

    margin-bottom: 0.5em;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/* Twitter */
.fa-youtube {
  background: red;
  color: white;
}
/* Twitter */
.fa-chrome {
  background: red;
  color: white;
}
/* Twitter */
.fa-snapchat {
  background: yellow;
  color: white;
}
/* Twitter */
.fa-linkedin {
  background: darkblue;
  color: white;
}
/* Twitter */
.fa-instagram {
  background: #55acee;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
/* Twitter */
.fa-reddit {
  background: orange;
  color: white;
}
@media only screen and (min-width: 600px) {
  .thumbnail {
    width: auto;
    height: 500px;

    margin-left: auto;
    margin-right: 4px;
  }
}

.about > h1 {
  margin-left: 20px;
}

@media only screen and (min-width: 600px) {
  .thumbnail1 {
    width: auto;
    height: 500px;
    padding-bottom: 70px;

    display: block;

    margin-right: 80px;
  }
}

.previous {
  background-color: green;
  color: white;
  font-size: 40px;
}

.next {
  background-color: green;
  color: white;
  font-size: 50px;
  float: right;
  margin-top: 0px;
}

.round {
  border-radius: 50%;
}

hr {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

html CSS Result EDIT ON h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h1.elegantshadow {
  width: 400px;
  border: 30px solid green;
  padding: 30px;
  margin: 25px;
  color: #131313;
  text-align: center;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.signature > img {
  width: 300px;
  height: 300px;
  border-radius: 70%;
}

.row_1 {
  width: 400px;
  margin: 0 auto;
}

.row_1 > h1 {
  font-size: 60px;
}
@media only screen and (min-width: 500px) {
  .about > h2 {
    font-family: italic;
    margin-left: 100px;
    padding: 0px;
  }

  .about > p {
    font-family: courier;
    font-size: 30px;
    line-height: 1.4;
    margin-right: 200px;
    margin-left: 200px;
    border: 5px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.fakeimg {
  height: 200px;
}

.social-icons li img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 50px;
}
.social-icons li {
  align-content: center;
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.footer {
  padding-top: 20px;
}

.footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 0.7em;
  text-transform: uppercase;
}
@media screen and (min-width: 500px) {
  .pics {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    padding: 10px;
  }
}
@media screen and (min-width: 500px) {
  .pics2 {
    display: grid;
    grid-gap: -10px;
    width: 400px;
    height: 350px;
    margin-left: 90px;
    padding-right: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.comicspics {
  margin-left: 85px;
}
@media screen and (min-width: 400px) {
  .pic3 {
    margin-left: 85px;
  }
}

.mar {
  margin-left: 350px;
  margin-top: 30px;
}

#blog {
  background-color: #f6f6f6;
}

#blog .carousel-indicators {
  bottom: -60px;
}

#blog .carousel-indicators li {
  background-color: #5db4c0;
  height: 13px;
  width: 13px;
  margin: 5px;
}

#blog .carousel-indicators li.active {
  background-color: #888383;
}

#blog .card-block {
  padding: 10px;
}

#blog .card {
  margin: 20px 0px;
  padding-left: 50px;
}

.date {
  background-color: lightgrey;
  color: #000000;

  padding: 13px;
  font-size: 20px;
  font-weight: 600;
}
.carousel-inner {
  margin-left: -100px;
}

h2,
.ion-minus {
  margin-right: 60px;
  padding: 7px;
}

.card-img-top {
  max-height: 200px;
}

table {
  margin: 15px 0;
  border: 1px solid black;
  table-layout: fixed;
  width: 100%; /* must have this set */
}

td,
th {
  border: 1px solid black;
  word-wrap: break-word;
  text-align: center;
}

.sturdy td:nth-child(1),
.sturdy td:nth-child(2),
.sturdy td:nth-child(4) {
  width: 20%;
}
.sturdy td:nth-child(3) {
  width: 40%;
}

.desc {
  margin-top: 20px;
  margin-left: 42px;
}
