.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.titles {
  color: white;
}

.bgh {
  width: 100%;
  min-height: 100%;
}

.App-link {
  color: #61dafb;
}

.all {
  margin-left: 100px;
}
.dates {
  font-size: 2rem;
  color: blue;
  text-decoration: underline;
}
.feb {
  margin-left: 600px;
}

.marios {
  color: white;
  margin-left: 440px;
  font-size: 2rem;
}
.abc {
  margin-right: 800px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.saving {
  color: darkred;
}
.sav {
  color: white;
  font-size: 1rem;
}

.neg {
  color: red;
}

.pos {
  color: white;
}
